* {
  --blue: #1a2364;
  --light-green: #07c28f;
  --green: #0f817e;
  --light-blue: #f7faff;
}

.travel-banner {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  max-height: 50vh !important;
}
.banner-line {
  height: 2px;
  background-color: var(--light-green);
  width: 100%;
}
.travel-items-head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.travel-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 13px;
}
.travel-item{
    width: 100%;
    height: 100%;
}
.tcard{
  background-color: white;
  box-shadow: 0px 30px 30px #00026b21;
  border-radius: 23px;
  display: flex;
  width: 100% !important;
  height: 100%;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.tcard:hover {
  box-shadow: 0px 10px 30px var(--light-green);
}
.tcard> img {
  width: 100%;
}
.tcard > h6 {
  color: var(--light-green);
  text-align: center;
  margin: 7px;
  font-size: 14px;
}
.tcard > p {
  /* color: var(--light-green); */
  color: gray;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  margin-top: -5px;
}
.travel-policies {
  margin-top: 300px;
}
.travel-policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.travel-policy > img {
  height: 60px;
}

.online-form {
  margin-top: -300px;
  margin-bottom: 100px;
}
.form-container {
  box-shadow: 0px 20px 60px #1a23643d;
  border-radius: 30px;
}
.travel-form > h6 {
  font-size: 14px;
  color: var(--blue);
  font-weight: 600;
}
.travel-form > input {
  border: 1px solid#C5C5C5;
  border-radius: 10px;
  outline: none;
  height: 50px;
  padding-left: 15px;
}
.input-field {
  width: 100%;
  border: 1px solid#C5C5C5;
  border-radius: 10px;
  outline: none;
  height: 50px;
  padding-left: 15px;
}
.travel-form > select {
  border: 1px solid#C5C5C5;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: gray;
  height: 50px;
  padding-left: 15px;
}
/* The container */
.chkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  color: var(--blue);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.chkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e9ecff;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.chkbox:hover input ~ .checkmark {
  background-color: #a8b4ff;
}

/* When the radio button is checked, add a blue background */
.chkbox input:checked ~ .checkmark {
  background-color: var(--green);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.chkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.chkbox .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.countryToTravel > select {
  height: 50px;
  outline: none;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
  padding-left: 10px;
  color: gray;
  cursor: pointer;
  margin-top: 5px;
}




.countryToTravel > DatePicker {
  height: 50px;
  outline: none;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
  padding-left: 10px;
  color: gray;
  cursor: pointer;
  margin-top: 5px;
}

.inner-card:hover{
    background-color: rgb(214, 170, 255) !important;
}

.package-card > input:checked ~ .inner-card {
  background-color: rgb(119, 255, 119) !important;
}


.travel-item > input:checked ~ .tcard{
    box-shadow: 0px 10px 20px var(--green);
}



.photo-upload {
  border-radius: 30px;
  border: 1px solid rgb(204, 204, 204);
}
.photo-upload > img {
  height: 25px;
  margin-bottom: 10px;
}

/* Package Card */
.package-card {
  box-shadow: 0px 0px 60px #1a236423;
  border-radius: 29px;
  width: 100%;
  height: 100%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.package-card > div {
  height: 100%;
  width: 100%;
  background-color: var(--light-blue);
  border-radius: 25px;
  padding: 8px;
}
.inner-card {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
}
.inner-card > .opacity {
  background-color: rgba(255, 255, 255, 0.562);
}
.inner-card > button {
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .banner-content {
    margin-top: 70px;
  }
  .banner-content > div > h2 {
    font-size: 22px;
  }
  .banner-content > div > img {
    height: 25px;
  }
  .banner-content > p {
    font-size: 14px;
  }
  .travel-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
  }
  .travel-policies {
    margin-top: 135vh;
  }
}
